<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <%= image_tag "brand.png", class:"brand d-inline-block align-top" %> 
        Amazon
    </a>
    <div class="navbar" id="navbarNav" >
        <ul class="navbar-nav" style="display: flex; flex-direction: row; justify-content: space-around!important;">
            <li class="nav-item">
                <%= link_to 'Home', home_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to 'Contact Us', contactus_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to 'Products', products_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to 'New Product', new_product_path, class: 'nav-link' %>
            </li>
        </ul>
    </div>
    <% if current_user %>
    <%= link_to "Logout", session_path, method: :delete, class: 'btn btn-danger'%>
    <div class="username">
        <%= current_user.first_name %> <%= current_user.last_name %>
    </div>
    <% else %>
    <%= link_to "Sign In", new_session_path, class: 'btn btn_succes' %>
    <%= link_to "Sign Up", new_user_path, class: 'btn btn_succes' %>
    <% end %>
</nav>