<div class="row no-gutters">
    <% @products.each do |product| %>
    <div class="productCart col-sm-5 col-md-4 col-md-3 col-lg-2 glutter shadow-lg p-3 mb-5 bg-white">
        <%= link_to product do %>
        <img src="https://www.festivalclaca.cat/pics/b/21/216148_watch-png.png" class="imageList" />
        <div class="priceList">
            <p class="oldpriceList badge badge-pill badge-danger">
                <%= number_to_currency(product.price, precision: 2) %></p>
            <p class="currentpriceList badge badge-pill badge-success">
                <%= number_to_currency(product.price, precision: 2) %></p>
        </div>
        <div class="">
            <p class="titleList"> <%= product.title %></p>
            <p class="descriptionList"> <%= product.description %></p>
            <p class="authorList"> by <%= product.user.full_name %></p>
            <p class="reviewList">Reviews: <%= product.reviews.count %></p>
            <p class="ratingList">Rating: <%= number_with_precision(product.reviews.average(:rating),precision: 2) %>
            </p>
            <% if user_signed_in?  && current_user != product.user %>
            <% favorite = current_user.favorites.find_by_product_id(product) %>
            <% if favorite %>
            
            <%= link_to product_favorite_path(product,favorite), method: :delete do %>
            <%= image_tag "favorite.svg", class:"favorite" %>
            <% end %>
            
            <% else %>
            
            <%= link_to product_favorites_path(product), method: :post do %>
            <%= image_tag "unfavorite.svg", class:"favorite" %>
            <% end %>
            
            <% end %>
            <% end %>




        </div>
        <% end %>
    </div>
    <% end %>
</div>