<div class='shadow-sm p-3 mb-5 bg-white rounded overflow-wrap'>
    <h1>
        <span class='badge badge-pill badge-info'>
            <%= @product.id %>
        </span>
        <%= @product.title %>
    </h1>
    <p class='shadow-none p-3 mb-5 bg-light rounded'><%= @product.description %></p>
    <div>
        <%= link_to(
        "Edit",
        edit_product_path(@product),
        class: 'btn btn-info'
      )
      %>
        <%= link_to(
        "Delete",
        product_path(@product),
        method: :delete,
        class: 'btn btn-danger',
        data: { confirm: 'are you sure?' }
      )
      %>
    </div>
</div>
<div class="review">
    <% @reviews.each do |review| %>
    <div class="card" style="margin: 0;">
        <div class="card-header"><%= review.rating %></div>
        <div class="card-body text-dark">
            <p class="card-text"><%= review.body %></p>
        </div>
        <div class="delete_btn">
            <%= link_to(
                "Delete",
                product_review_path(@product, review),
                method: :delete,
                data: {
                    confirm: "Are you sure?"
                },
                class: 'btn-primary'
            ) %>
        </div>
    </div>
    <% end %>
</div>